<div class="content">
    <div class="row" style="height: 5vh">
        <div class="col-5">
            logo
        </div>
        <div class="col-7 mt-2" style="text-align: right">
            <span *ngIf="player">Playing as {{player.name}}</span>
            <div class="btn btn-warning ml-3 mr-3" *ngIf="player" (click)="logout()">Logout</div>
            <div class="btn btn-info mr-3" (click)="uploadCode()">Save Code</div>
        </div>
    </div>
    <div class="row" style="height: 90vh">
        <div class="col-7" style="height: 60%; background-color: green">

        </div>
        <div class="col-5" style="height: 90vh; overflow-y: scroll;">
            <div class="row" style="margin-right: 15px" *ngIf="player && loadingPlayerFinished">
                <div class="col-12">
                    <h1>Code</h1>
                </div>
                <div class="col-12" *ngFor="let codePart of code.codeParts">
                    <h3>{{codePart.label}}</h3>
                    <div *ngIf="codePart.parameters?.length">Input:
                        <span>{{codePart.parameters.join(", ")}}</span>
                    </div>
                    <textarea [(ngModel)]="codePart.code"></textarea>
                </div>
            </div>

            <div class="row" style="margin-right: 15px" *ngIf="!player && loadingPlayerFinished">
                <div class="col-12">
                    <h1>Create Player</h1>
                </div>
                <div class="col-12" style="text-align: right">
                    <input [(ngModel)]="desiredPlayerName">
                    <button class="btn btn-success mt-2" (click)="savePlayer()" [disabled]="desiredPlayerName?.length < 8">Save Player Name</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 5vh">
        <div class="col-12">
            footer
        </div>
    </div>
</div>