textarea {
    width: 100%;
    height: 150px;
}

input {
    width: 100%;
}

img {
    vertical-align: top;
    margin-top: 5px;
    margin-left: 10px;
}

.header {
    background-color: #4c4c4c;
    color: #5794cf;
}

.footer {
    background-color: #4c4c4c;
    color: white;
    text-align: right;
    font-size: 10px;
}

